<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../Public/css/style.css">
    <title>page_inscription</title>
</head>
<body id="body_contact">
   <div class="container container_page_contact">
    <form action="/" class="form_desabonner" method="POST">
        <h1 class="titleOne_page_contact">
           Inscrivez-vous devenir menbre
        </h1>
        <div class="row row_inscription">
            <div class="form_group2 col-md-6">
                <input type="text" class="input_form_desabonner" placeholder=" Adresse email" name="mail">
            </div>
            <div class="form_group2 col-md-6">
                <input type="text" class="input_form_desabonner" placeholder=" Code postal" name="postal_code">
            </div>
            
        </div>
        <div class="row row_inscription">
            <div class="form_group2 col-md-6">
                <input type="text" class="input_form_desabonner" placeholder="Monsieur" name="sexe">
            </div>
            <div class="form_group2 col-md-6">
                <input type="text" class="input_form_desabonner" placeholder="Ville" name="ville">
            </div>
        </div>
        <div class="row">
           <div class="container_formgroup col-md-6">
            <div class="form_group2">
                <input type="text" class="input_form_desabonner" placeholder=" Prenom" name="prenom">
            </div>
            <div class="form_group2">
                <input type="text" class="input_form_desabonner" placeholder=" Nom" name="namer_user">
            </div>
           </div>
           <div class="container_formgroup col-md-6 ">
            <div class="form_group2">
                <p class="title">Date de naissance</p>
            </div>
            <div class="form_group2 container_formgroup_flex">
               <div class="fom_groupe_case1">
                   <select name="" id=""  class="select_input_inscription">
                      <div class="container_option_select_inscription">
                        <option value="">
                            0
                        </option>
                       <option value="">
                           1
                       </option>
                       <option value="">
                           2
                       </option>
                       <option value="">
                          3
                       </option>
                       <option value="">
                        4
                       </option>
                       <option value="">
                           5
                       </option>
                       <option value="">
                          6
                       </option>
                       <option value="">
                          7
                       </option>
                       <option value="">
                           8
                       </option>
                       <option value="">
                           9
                       </option>
                       <option value="">
                          10
                       </option>
                       <option value="">
                           11
                       </option>
                       <option value="">
                           12
                       </option>
                       <option value="">
                           13
                       </option>
                       <option value="">
                          14
                       </option>
                       <option value="">
                          15
                       </option>
                       <option value="">
                         16
                       </option>
                       <option value="">
                        17
                       </option>
                       <option value="">
                           18
                       </option>
                       <option value="">
                         19
                       </option>
                       <option value="">
                          20
                       </option>
                       <option value="">
                           21
                       </option>
                       <option value="">
                           22
                       </option>
                       <option value="">
                           23
                       </option>
                       <option value="">
                          24
                       </option>
                       <option value="">
                         25
                       </option>
                       <option value="">
                           26
                       </option>
                       <option value="">
                         27
                       </option>
                       <option value="">
                          28
                       </option>
                       <option value="">
                        29
                       </option>
                       <option value="">
                          30
                       </option>

                      </div>
                   </select>
               </div>
               <div class="fom_groupe_case1">
                <select name="" id=""  class="select_input_inscription">
                   <div class="container_option_select_inscription">
                    <option value="">
                        0
                    </option>
                    <option value="">
                        1
                    </option>
                    <option value="">
                        2
                    </option>
                    <option value="">
                       3
                    </option>
                    <option value="">
                     4
                    </option>
                    <option value="">
                        5
                    </option>
                    <option value="">
                       6
                    </option>
                    <option value="">
                       7
                    </option>
                    <option value="">
                        8
                    </option>
                    <option value="">
                        9
                    </option>
                    <option value="">
                       10
                    </option>
                    <option value="">
                        11
                    </option>
                    <option value="">
                        12
                    </option>
                 
                </div>
                </select>
            </div>
            <div class="fom_groupe_case1">
                <select name="" id=""  class="select_input_inscription">
                   <div class="container_option_select_inscription">
                     <option value="">
                      1917
                     </option>
                    <option value="">
                        1918
                    </option>
                    <option value="">
                        1919
                    </option>
                    <option value="">
                        1920
                    </option>
                    <option value="">
                        1921
                    </option>
                    <option value="">
                        1922
                    </option>
                    <option value="">
                        1923
                    </option>
                    <option value="">
                        1924
                    </option>
                    <option value="">
                        1925
                    </option>
                    <option value="">
                        1926
                    </option>
                    <option value="">
                        1927
                    </option>
                    <option value="">
                        1928
                    </option>
                    <option value="">
                        1929
                    </option>
                    <option value="">
                        1930
                    </option>
                    <option value="">
                        1931
                    </option>
                    <option value="">
                        1932
                    </option>
                    <option value="">
                      1933
                    </option>
                    <option value="">
                        1934
                    </option>
                    <option value="">
                        1935
                    </option>
                    <option value="">
                      1936
                    </option>
                    <option value="">
                        1937
                    </option>
                    <option value="">
                        1938
                    </option>
                    <option value="">
                        1939
                    </option>
                    <option value="">
                        1940
                    </option>
                    <option value="">
                        1941
                    </option>
                    <option value="">
                        1942
                    </option>
                    <option value="">
                        1943
                    </option>
                    <option value="">
                        1944
                    </option>
                    <option value="">
                        1945
                    </option>
                    <option value="">
                        1946
                    </option>
                    <option value="">
                        1947    
                    </option>

                   </div>
                </select>
            </div>
            
            </div>
           </div>
        </div>
       
        <div class="form_group_last">
            <span class="text_form_group_last_condition">
                <input type="checkbox" class="input_form_group_last_condition">
               <span> J'ai lu la <a>Politique de Protection des données à caractère personnel</a>, 
                et en validant j’accepte de recevoir des offres promotionnelles de la part d'Elixis Digital.</span>
            </span>
             </div>
             <div class="row">
                 <button type="subtmit" class="btn_submit_contact_page"> envoyez vos message</button>
             </div>
         </form>
         
        
        </div>
   </div>
 <div class="container">
    <div class="row margin_row_after-form">
        <div class="case_footer_inscription col-md-4">
            <li class="fa fa-angle-double-right icon_case_footer_inscription"></li>
            <p> Chaque jour, nous recherchons pour vous des 
                promotions souvent limitées et offres spéciales.
                 Dès que nous en trouvons une, nous vous 
                 prévenons par email.
            </p>
            
        </div>
        <div class="case_footer_inscription col-md-4">
            <li class="fa  fa-angle-double-right icon_case_footer_inscription"></li>
            <p> En fonction de vos réactions à nos offres,
                 nous affinons les prochaines offres 
                 afin qu'elles correspondent à vos attentes.
            
        </div>
        <div class="case_footer_inscription col-md-4">
            <li class="fa fa-angle-double-right     "></li>
            <p> Dans chaque email que vous recevrez de notre part,
                 vous trouverez un lien vous permettant 
                 de vous désabonner facilement en un clic.
            </p>
            
        </div>
    </div>
    <div class="container container_footer_page_contact">
        <div class="row">
            <ul class="link_liste_contact">
                <li><a href="">Inscription</a></li>
                <li><a href="">Mentions legales</a></li>
                <li><a href="">Politique de Protection  des donnees a caracteres personnel</a></li>
                <li><a href="">Nous contactez</a></li>
            </ul>
            <p class="text_contact_page_contact" id="text_page_contact">
                Conformément à la loi informatique et libertés du 6 janvier 1978,
                 vous bénéficiez d'un droit d'accès de rectification et d’opposition au traitement des informations qui vous concernent. Des cookies seront déposés lors de la navigation sur ce site et suite à 
                l’ouverture des emails que vous recevrez, visitez nos mentions légales pour plus d’informations
            </p>
        </div>
       </div>
      
 </div>
  
</body>
</html>