<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../Public/css/style.css">
    <title>desabonner</title>
</head>
<body id="body_contact">
   <div class="container container_page_contact">
    <form action="" class="form_desabonner">
        <h1 class="titleOne_page_contact">
            Nous contactez
        </h1>
        <div class="row">
            <div class="form_group2">
                <input type="text" class="input_form_desabonner" placeholder=" Adresse email">
            </div>
            
        </div>
        <div class="row">
            <div class="form_group2">
                <input type="text" class="input_form_desabonner" placeholder="Prenom">
            </div>
        </div>
        <div class="row">
            <div class="form_group2">
                <input type="text" class="input_form_desabonner" placeholder=" Nom">
            </div>
        </div>
        <h3 class="title_forme_desabonner">
            selectionner la raison de votre contact
        </h3>
        <div class="form_group_last">
            <div class="row">
                <select name="contact_page" id="" class="select_page_contact"  >
                    <option value=" selectionner une raison">selectionner une raison</option>
                    <option value=" Demande de desabonnement">Demande de desabonnement</option>
                    <option value=" une erreur sest produite"> une erreur sest produite</option>
                    <option value=" Demande de desabonnement">Je ne recois plus vos emails</option>
                    <option value=" Demande de desabonnement">Partenariats</option>
                    <option value=" Demande de desabonnement">Autre raison</option>
                </select>
             </div>
             <h3 class="title_forme_desabonner">
                votre message:
             </h3>
             <div class="row">
                 <textarea name="text_comment_page_contact" id="texta_area_page_contact" >
     
                 </textarea>
             </div>
             <div class="row">
                 <button type="subtmit" class="btn_submit_contact_page"> envoyez vos message</button>
             </div>
         </form>
         
        
        </div>
   </div>
   <div class="container container_footer_page_contact">
    <div class="row">
        <ul class="link_liste_contact">
            <li><a href="">Inscription</a></li>
            <li><a href="">Mentions legales</a></li>
            <li><a href="">Politique de Protection  des donnees a caracteres personnel</a></li>
            <li><a href="">Nous contactez</a></li>
        </ul>
        <p class="text_contact_page_contact" id="text_page_contact">
            Conformément à la loi informatique et libertés du 6 janvier 1978,
             vous bénéficiez d'un droit d'accès de rectification et d’opposition au traitement des informations qui vous concernent. Des cookies seront déposés lors de la navigation sur ce site et suite à 
            l’ouverture des emails que vous recevrez, visitez nos mentions légales pour plus d’informations
        </p>
    </div>
   </div>
  
</body>
</html>